server {
        listen 80;

        server_name _;

        set $front "http://front:80";
        set $back "http://back:8080";

        resolver 127.0.0.11 valid=10s;

        location / {
                proxy_pass $front;
        }

        location /api {
                rewrite ^/api/(.*)$ /$1 break;
                proxy_pass $back;
        }
}